# Folders
__pycache__/
PDFs/
DOCXs/
PDFRebuts/
Peticions/
Signatures/
Temp/
build/

# Ignore all CSV files
*.csv
config.json

# But do not ignore these specific CSV files
!dades_personals-template.csv
!peticions-template.csv